*{
    margin: 0;
}
.card{
    display: flex;
    flex-direction: column;
    transform:  translateZ(0);
    transition: transform 0.25s ease-out;
    margin: auto;
    margin-top: 1vw;
    width: 40vw;
    height: auto;
    padding-bottom: 5px;
    background-color: rgba(226, 78, 255, 0.781);
    background-origin: content-box;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 30px rgba(231, 21, 21, 0.39);
    border: 5px solid rgb(168, 44, 168);
}
.image{
    margin: auto;
    height: 20vw;
    width: 30vw;
    border: 1px solid black;
    border-radius: 15px;
}
.plat{
    padding-left: 3px;
}
.texto{
    padding: 15px;
    text-align: justify;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #fc3d3d 5%, #fd2929 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #34ce55 5%, #43f533 100%);
	background-color:#bc80ea;
}
.myButton:active {
	position:relative;
	top:1px;
}
