body {
  background-image: url('./Components/images/Guia-legal-de-los-videojuegos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar{
  width: 12px;
  border: 2px solid rgb(182, 95, 185);
  background-color: rgba(221, 46, 236, 0.61);
  
}
*::-webkit-scrollbar-thumb{
  background-color: rgb(78, 255, 78);
  border: 1px solid black;
  box-shadow: 0px 0px 30px 15px rgb(207, 43, 43);
  border-radius: 5px;
}