.container{
    margin: 20px;
}
.button{
    color: rgba(255, 255, 255, 0.62);
  background-color:#1d2b3a ;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.input{
    margin-right: 5px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #1d2b3a;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.62);
    border-radius: 5px;
}