*{
    margin: 0;
}
.card{
    color:rgb(15, 15, 141);
    display: flex;
    flex-direction: column;
    padding: 25px;
    transform:  translateZ(0);
    transition: transform 0.25s ease-out;
    margin: auto;
    margin-top: 1vw;
    width: 35vw;
    padding-bottom: 5px;
    background-color: rgba(255, 40, 40, 0.808);
    background-origin: content-box;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 30px rgba(250, 124, 40, 0.39);
    border: 5px solid rgb(255, 87, 87);
}

.card:hover{
    transform: scale(1.03);
}
button{
    cursor: pointer;
    margin: auto;
}

.btn{

font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #000000;
background-color: #6feddc;
padding: 10px 30px;
border: solid #4eb0a1 2px;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
border-radius: 19px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction:row-reverse;
align-items: center;
cursor: pointer;
}

.btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #6aff97;
color: #0066cc;
border: solid 2px #0066cc;
}





